
body{
    /* background-color: rgb(197, 152, 84); */
    background-image: url("../images/StarBackground.png");
    /* background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6) ),url("../images/Background.png"); */
    background-repeat: no-repeat;
    background-size: 100%;
    
}
h1{
    /* font-family: 'Tajawal', sans-serif; */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    margin-top:20px;
    letter-spacing: 10px; 
    text-align: center;
}

div.card-body{
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    /* padding-top:80%; */
    position: relative;
    /* height: 100%px; */
}

div.wrapper.characters{
    /* background-color: rgb(197, 152, 84); */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: 100%; */
    padding: 1%;
    grid-gap: 10px;
    /* height: 110px; */

}
img{
    /* height:110px; */
    /* position: absolute; */
    height:155px;
    /* width: 110px; */
    /* height: 50%px; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
p.card-text{
    margin-top:-10px;
}

.button{
    width: 60px;
    height: 40px;
    /* position: absolute; */
    


}
#winLossbox{
    margin-top:-25px;
    font-family: 'Open Sans Condensed', sans-serif;
    float:right;
    margin-right:66%;
}

 /* div.charThree{
    background-image: url("../images/Greedo.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
    padding:60%;
    padding-top:100px;
    margin-left:8%;
 }
 div.charFour{
    background-image: url("../images/landocalrissian.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
    padding:60%;
    padding-top:100px;
    margin-left:8%;
 }
 div.charFive{
    background-image: url("../images/Kitonak.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
    padding:60%;
    padding-top:100px;
    margin-left:8%;
 } */

 div.defender{
    margin-top:70px;
    display: grid;
    width: 180px;
    height: 230px;


 } 

div.yourCharacter{

    display: grid;
    width: 180px;
    height: 180px;
 
 
 }
